$themes: (
  default: (
    themeDark: #092e5d,
    themePrimary: #2f749a,
    themeSecondary: #86bbd1,
    themeTertiary: #b5c0ce,
    themeLight: #e1ecf2,
    neutralBlack: #000,
    neutralDark: #201f1e,
    neutralPrimary: #353535,
    neutralSecondary: #727272,
    neutralSecondaryAlt: #8a8886,
    neutralTertiary: #cdcdcd,
    neutralLight: #edebe9,
    neutralLighter: #f0f0f0,
    neutralLighterAlt: #f3f2f1,
    neutralWhite: #fff,
    redDark: #b91224,
    redLight: #eab7bd,
    yellowDark: #ff9800,
    yellowLight: #ffeab4,
    greenDark: #28743e,
    greenLight: #bed5c5,
    shadow1: rgba(0, 0, 0, 0.132),
    shadow2: rgba(0, 0, 0, 0.108)
  ),
  dark: (
    themeDark: #c0d5e0,
    themePrimary: #2f749a,
    themeSecondary: #1f3649,
    themeTertiary: #16273d,
    themeLight: #06162b,
    neutralBlack: #fff,
    neutralDark: #dfe0e1,
    neutralPrimary: #cacaca,
    neutralSecondary: #8d8d8d,
    neutralSecondaryAlt: #757779,
    neutralTertiary: #323232,
    neutralLight: #121416,
    neutralLighter: #0f0f0f,
    neutralLighterAlt: #151515,
    neutralWhite: #1e1e1e,
    redDark: #a00f1f,
    yellowDark: #ff9800,
    shadow1: rgba(255, 255, 255, 0.132),
    shadow2: rgba(255, 255, 255, 0.108)
  )
);
